* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

    margin: 0px;
    padding: 0px;
    border: 0px;

}

/* body {
    overflow: scroll;
} */

h4 {
    color: #ff0077;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;

    margin-top: 20px;
    margin-bottom: 20px;

}

.button {
    display: flex;
    text-align: center;
}

#botao {

    display:ruby;

    text-align: center;


    padding: 10px 40px;

    background-color: #ff0077;

    color: #fff;

    margin: 50px;
    margin-left: 600px;
    margin-right: 600px;

    border-radius: 10px;

    text-decoration: none;


}

.conteudo {

    display: inline-block;

    align-items: center;
    justify-content: space-between;
    text-align: center;


    padding: 36px 26px;

    font-size: 16px;


    /* height: 1300px; */

}





.logo {
    max-width: 20vw;
    margin-left: 100px;
    margin-top: 0px;
    display: block;

}

.logoBranca {
    max-width: 20vw;
    margin-top: 10px;
    display: block;
    padding-bottom: 40px;
    /* padding-top: 20px; */
}

.banner img {
    width: 100%;
    margin-top: 90px;
}






header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    position: fixed;

    top: 0px;
    left: 0;
    right: 0;
    height: 90px;

    background: white;

}

header {

    box-shadow: 0px 10px 30px rgb(0, 0, 0, .4);
    /* position: absolute; */
}

nav {

    display: inline-block;

    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    margin-right: 100px;

}

.actives {
    display: none;
}

.menu a {
    align-items: center;

    text-align: center;
}

.menu label {
    display: flex;
    width: 100%;

    padding: 46px 10px;

    margin: 3px;

}

.actives:checked~label {
    background-color: #ff0077;
    color: #fff;

}

a:active {
    background-color: #ff0077;
}

a:active {
    color: #fff;
}

.actives:checked a {
    background-color: #ff0077;
    color: #fff;

}

a:hover {
    color: #ff0077;
}

nav>ul {
    list-style: none;
}

nav>ul {
    display: inline-block;
    flex-wrap: wrap;

}

nav>ul>li {
    display: inline-block;
    /* position: relative; */
    padding: 10px;
    justify-content: space-between;

    align-items: center;

    text-align: center;

}

.button {
    text-decoration: none;
}

.button:hover {
    color: #ff0077;
}

/* exemplo para a segunda part */
.middle2 {
    margin-top: 120px;
    padding-bottom: 90px;
    /* padding-top: 90px; */
    /* background-color: #0077ff; */
    /* color: #ffffff; */
}




.produtosDestaque:hover {
    display: inline-block;

    border-style: solid;
    box-sizing: border-box;
    outline: 1px solid gray;
    outline-offset: -1px;
    /* padding-top: 10px; */

    opacity: 0.7;

    /* width: 40%; */


    /* padding: 30px 0px; */

    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;

    max-height: 90%;
    vertical-align: middle;

}

.produtosDestaque1 {

    width: 1100px;

    align-items: center;
    text-align: center;

    margin-left: auto;
    margin-right: auto;

    font-size: 1.5vw;

    flex-direction: row;
    display: flex;
  



}

.produtosDestaque2 {



    margin: 0 1.5%;
    padding: 30px 20px;



    font-size: 3vw;

    /* max-height: 150px; */

    width: 1050px;

    max-width: 80%;

    width: 1100px;

    text-align: center;

    margin-left: auto;
    margin-right: auto;

    margin-left: 50px;
    margin-right: 50px;


    max-width: 100%;

    font-size: 1.5vw;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 0px 50px;
    height: 250px;

    width: auto;
    height: auto;

    display: inline-flex;
    justify-content: space-evenly;

}

.imageProduto {


    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;

    font-size: 3vw;

    max-width: 50px;
    max-height: 150px;

    width: 1050px;

    max-width: 80%;



}

.valor {

    align-items: center;
    text-align: center;



    padding-top: 50px;
    color: #ff0077;

    font-size: 15px;
}

.descricao {
    padding-top: 25px;
    color: gray;

    font-size: 15px;

    padding-left: 25px;
    padding-right: 25px;

    justify-content: space-evenly;
}






/* nav>ul>li.active,
nav>ul>li:hover {
    background: #ff0077;

}  */

/* nav>ul>li.active a,
nav>ul>li:hover a {
    color: rgb(255, 255, 255);

}  */

nav a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

nav>ul>li {
    display: inline-block;

}

nav>ul>li>a {
    /* padding: 46px 20px; */
    display: block;
    /* width: 100%; */
    /* justify-content: space-between; */
    /* margin: 10px; */

}


nav .links {
    display: none;
}

/* nav>ul>li:hover:not(.active) {
    background-color: #ff0077;
} */

/* nav>ul>li:hover:not(.active)>a {
    color: #fff;
} 
 */

/* 
.search {
    text-decoration: none;
    color: black;

    background: #ff0077;

    display: inline;

    padding: 20px;
    padding-top: 90px;
    margin: 5px;

    padding-top: 7%;
    padding-bottom: 7%;

    font-family: 'Open Sans', sans-serif;

    font-weight: bold;

    height: auto;

}
 */

/* .active:hover {
    color: #ff0077;
} */

/* .search {

    position: relative;

    display: inline-block;

    padding: 0 10px;
    padding-top: 46px;
    padding-bottom: 46px;

    font-size: 16px;

    text-decoration: none;

    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;

}



nav .search:active {
    background-color: #ff0077;
    color: #fff;

    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;

}

.searchs ul li {
    float: left;

} */

.center {
    text-align: center;

    padding-top: 70px;
}



.images {
    align-items: center;
    text-align: center;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;


    display: flex;
    justify-content: space-evenly;
    padding: 0px 10px;


    height: 250px;

}

.paragrafoEscopo {
    /* padding-left: 53px; */
    /* padding-right: 53px; */

    /* width: 1050px; */
    margin-left: auto;
    margin-right: auto;
    /* max-width: 100%; */


    /* display: inline-flex; */
    align-items: center;
    justify-content: space-between;
    padding: 0;
    /* position: fixed; */

    top: 0;
    left: 0;
    right: 0;
    /* height: 110px; */
}

.paragrafo {
    color: grey;

    /* padding: 0 40px; */

    margin-left: auto;
    margin-right: auto;

    text-align: center;
    justify-content: space-between;

    padding: 0 50px;



    align-items: center;
    justify-content: space-between;

    top: 0;
    left: 0;
    right: 0;

}

.paragrafo2 {
    margin-left: auto;
    margin-right: auto;
}

/* .paragrafo2 {
    margin-left: -8px;
    margin-right: -8px;

}
.paragrafo20{
    margin-left: -20px;
    margin-right: -20px;
}
 */

.middle {
    background-color: #0077ff;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/* @keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
} */



.dog_mod {
    color: #ff0077;
    font-size: 3vw;
    padding: 10%;

}


.dog_mod:hover,
.dog_mod:focus {

    transform: translateX(1px) rotate(10deg) translateY(0.3px) scale(1.2);

    transition-duration: 1000ms;

    /* transition-timing-function: ease; */


}




.paw_mod {
    color: #ff0077;
    font-size: 3vw;
    padding: 10%;


}

.paw_mod:hover,
.paw_mod:focus {

    transform: translateX(1px) rotate(10deg) translateY(0.3px) scale(1.2);

    transition-duration: 1000ms;


    /* transform: translateX(5px) scale(1.2);

   

    transition-duration: 1000ms;
    transition-timing-function: steps;*/
}

.shower_mod {
    color: #ff0077;
    font-size: 3vw;
    padding: 15%;
}

.shower_mod:hover,
.shower_mod:focus {
    transform: translateX(1px) rotate(10deg) translateY(0.3px) scale(1.2);

    transition-duration: 1000ms;

}

.syringe_mod {
    color: #ff0077;
    font-size: 3vw;
    padding: 15%;
}

.syringe_mod:hover,
.syringe_mod:focus {
    transform: translateX(1px) rotate(10deg) translateY(0.3px) scale(1.2);

    transition-duration: 1000ms;

}





/* .ativa a:active {
    background-color: #ff0077;
    color: #fff;

} */
.aba{
    display:inline-block;

}
.LogoBrancaFooter{
    width: 250px;
    text-align: start;

}

footer {
    text-align: center;
    background-color: #ff0077;
    color: #ffffff;
    padding: 100px;
    padding-top: 80px;
    padding-bottom: 10px;
}

.line{
    line-height:25px;
}
.line2{
    margin-top: -162px;
    align-items: center;
}
.icons{
    text-align: right;
    margin-top: -73px;


}
.icons3{
    float: right;
    padding: 0 10px;
    font-size: 20px;
}
.icons3:hover{
    transform: rotate(15deg) scale(1.3);

    transition-duration: 1000ms;
}
.HoraFotter{
    padding: 0px 400px;
}

.footerBaixo{
    padding-top: 100px;
}



@media all and (max-width: 400px) {

    /*Definição para dispositivos moveis*/
    nav {

        display: inline-block;
        transition: 1s right;
        width: 100%;
    }

    nav.active {
        right: 0;
        transition: 1s right;
    }

    nav>ul {
        width: 100%;
        display: inline-block;
    }

    nav>ul>li {
        display: inline-block;
        width: 100%;
        margin-right: 0;
        padding: 0;
        border-radius: 6px;
        margin-bottom: 10px;


    }

    nav>ul>li>a {
        border-radius: 6px;
        padding: 15px 20px;
        display: block;
        width: 100%;


    }

    nav .links {
        display: none;
    }

    nav .fa-chevron-down {
        position: absolute;
        right: 0;
        top: 0;
        padding: 15px;
        border-left: 1px solid rgba(167, 167, 167, .2);
    }

    nav>ul>li:hover:not(.active) {
        background: transparent;
    }

    nav>ul>li:hover:not(.active)>a {
        color: #ff0077;
    }

    nav>ul>li.active {
        background: #ff0077;
    }

    nav>ul>li.active>a {
        background: #ff0077;
        /* border-radius: 5px; */
    }

}